<!--
    This view is the home page of the application.(Fist page/landing page)
    Key Points:
    - Includes links that retrieves data from MySql.
    - Often time the Home Page will offer a breief description of the purposes and uses
      of the site.  You can also set it up as a navigation bar to the rest of your site 
      which is what I did
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 1.5in;">
    <!-- Display links to different tables -->
    <div>      
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_1950s">Songs From The 50's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_1960s">Songs From The 60's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_1970s">Songs From The 70's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_1980s">Songs From The 80's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_1990s">Songs From The 90's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_2000s">Songs From The 2000's</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Songs" asp-action="Index" asp-route-tableName="songs_2010s">Songs From The 2010's</a>
    </div>
</div>